/*初始化样式*/
*{margin:0px;padding:0px}
body,html{height:auto;}
body{font-size:14px;font-family:'Microsoft YaHei','微软雅黑','Heiti SC',simhei,'Lucida Sans Unicode','Myriad Pro','Hiragino Sans GB',Verdana;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,textarea,p,th,td{padding:0;margin:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
dl,dd,ul{list-style:none}
caption,th{text-align:left}
a{text-decoration:none;color:#333;color:inherit !important;}
a img{border:0}
a:hover{text-decoration: none;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input{font-size: 14px; color: #555; background: #fff;font-family:'Microsoft YaHei',"微软雅黑","宋体","黑体",Arial;}
input,button,textarea,select{*font-size:100%}
input:focus, textarea:focus , select:focus{outline: none}
textarea {resize: none;}
div,form,img,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{
    border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: break-word;
    word-break: normal;
}
pre {
    white-space: pre-wrap; /* CSS-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    Word-wrap: break-word; /* Internet Explorer 5.5+ */
}
/*清除浮动*/
.clear{zoom:1;}
.clear:after{clear: both;content:".";display: block;width:0px;height: 0px;visibility: hidden;}

.fl{float:left;display: inline;!important;}
.fr{float:right;display: inline;!important;}

.center{margin:0 auto;}
.txtC{text-align: center;}

.hide{display:none;}
.dis-b{display:block;}
/*width*/
.main-width{width:1140px;height:auto;min-width:1140px;}
.main-width2{width:1000px;height:auto;}
.main-width3{max-width:1400px;min-width:1116px;height:auto;margin:0 auto;}
/*margin*/
.ml10{margin-left:10px;}
.ml35{margin-left:35px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}

.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
/*padding*/
.ptb20{padding:20px 0px;}
/*font-size*/
.fU{text-decoration:underline;}
.fN{text-decoration:none;}
.fB{font-weight:bold;}
.f10{font-size:10px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px; font-weight: 400}
.f18{font-size:18px; font-weight: 400}
.f20{font-size:20px; font-weight: 400}
.f22{font-size:22px; font-weight: 400}
.f25{font-size:25px; font-weight: 400}
.f30{font-size:30px; font-weight: 400}
.f35{font-size: 35px; font-weight: 400}
.f36{font-size: 36px; font-weight: 400}
.f40{font-size:40px; font-weight: 400}
.f45{font-size: 45px; font-weight: 400}
.f50{font-size: 50px; font-weight: 400}
